<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281752654218-2v3b5up7fkvbaou5iesk5pbpaslbdo54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281752654218-2v3b5up7fkvbaou5iesk5pbpaslbdo54</string>
	<key>API_KEY</key>
	<string>AIzaSyClZDCv7_sz8rpFoJVs9v8IhrcG2F35QBI</string>
	<key>GCM_SENDER_ID</key>
	<string>281752654218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desktopMicClinic</string>
	<key>PROJECT_ID</key>
	<string>eqraclinic</string>
	<key>STORAGE_BUCKET</key>
	<string>eqraclinic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281752654218:ios:a9979f7af06b89e8a0f873</string>
</dict>
</plist>